*{
    font-family:Arial, Helvetica, sans-serif;
}
table {
    width: 100%;
    margin: auto;
}
table, th, td {
    border: 1px solid grey;
    border-collapse: collapse;
}
th, td {
    padding: 5px 10px;
}
th {
    background-color: lightgrey;
	text-align:left;
}
.page-title {
    text-align: center;
}
.button-layout {
    margin-bottom: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.button {
    margin: 5px;
    min-height: 35px;
    min-width: 100px;
    max-width: 150px;
    border-radius: 3px;
    font-size: 1em;
    border: 1px solid grey;
}
.button:hover {
    cursor: pointer;
}
.btn-primary {
    background-color: rgb(40, 160, 40);
    border: none;
    color: white;
}
.btn-delete {
    background-color: rgb(240, 60, 60);
    border: none;
    color: white;
}
.table-wrapper {
    display: block;
    overflow-x: auto;
    white-space: nowrap;
    border: none !important;
}
form {
    margin: auto;
    max-width: 600px;
    padding:10px
}
label {
    color:rgb(66, 66, 66);
    font-size: 1.1em;
    font-weight: 500;
}
input, textarea, select {
    margin-bottom: 10px;
    border-radius: 3px;
    border: 1px solid grey;
    line-height: 30px;
    font-size: 1.2em;
    color:rgb(66, 66, 66);
    width: 100%;
}
textarea {
    max-width: 100%;
    min-height: 30px;
}
input[type=file] {
    border: none;
    font-size: inherit;
    line-height: inherit;
}
input[type=checkbox] {
    width: inherit;
}
.custom-input-layout {
    width: 100%;
    display: flex;
    margin-bottom: 10px;
}
.inline {
    margin-right: 15px;
    margin-bottom: 0;
}
.custom-input-button {
    text-decoration: none;
    border: 1px solid rgb(66, 66, 66);
    border-radius: 3px;
    padding: 10px 15px;
}
.custom-input-button:hover {
    cursor: pointer;
}
.link-list {
    text-align: center;
    line-height: 35px;
    font-weight: bold;
    font-size: 20px;
}
.link-list a {
    margin: auto;
    text-decoration: none;
    color: rgb(5, 124, 5);
}
.link-list a:hover {
    text-decoration: underline;
}
.selected {
	background-color: light-blue;
}